/* Centering the container */
.loading-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    z-index: 1;
    background-color: #fff; 
  }
  
  .spinner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 40px;
  }
  
  .block {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-color: #006633;
    animation: pullTogether 1.2s infinite ease-in-out;
    border-radius: 4px;
  }
  
  .block:nth-child(1) {
    animation-delay: 0s;
  }
  
  .block:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .block:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  .block:nth-child(4) {
    animation-delay: 0.6s;
  }
  
  @keyframes pullTogether {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.5);
    }
  }
  
  /* Text below the spinner */
  .loading-text {
    font-size: 1.2rem;
    color: #333;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    animation: fadeText 2s infinite;
  }
  
  @keyframes fadeText {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  