.profile-container {
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.profile-img {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-icon {
  cursor: pointer;
  /* Style it to make it visible (e.g., a pencil icon or a button) */
}

.save-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  /* You can add more styles to make the button prominent */
}

.save-button:hover {
  background-color: #45a049;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 180, 98, 0.7);
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
}

.upload-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #006633;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Edit Icon (Green Pen) */
.edit-icon {
  position: absolute;
  bottom: 5px;
  right: 15px;
  font-size: 40px;
  color: #fff;
  background-color: #006633;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-icon::before {
  content: "✏️";
  color: #fff;
  font-size: 20px;
}

.profile-section {
  padding: 20px;
}
.profile-intro h2 {
  line-height: 0.1rem;
}

.profile-intro p {
  line-height: 0.2rem;
  margin-bottom: 2rem;
}

.contact-socials-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.contact-socials-container input,
.profile-section textarea.about-me {
  padding: 1rem;
  background-color: #bcb9b9; 
  border: none;
  color: #006633;
  border-radius: 5px;
  font-size: 18px; 
}


.profile-section textarea.about-me {
  height: 100px; 
  width: 90%;
}


.flex-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.flex-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.flex-column label {
  margin-bottom: 5px;
  font-weight: bold;
}

.save-button {
  width: 100%;
  max-width: 200px;
  margin: 20px auto;
  margin-top: 40px;
  padding: 12px;
  background-color: #006633;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  display: flex;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #218838;
}

/* Media Queries */
@media (max-width: 768px) {
  .flex-row {
    flex-direction: column;
  }
}
