.walletSubContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.walletCredit {
  background: gold;
  flex: 1;
  /* height: 100%; */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.walletDebit {
  background: red;
  flex: 1;
  /* height: 100%; */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.walletBalance {
  background: #006633;
  flex: 1;
  /* height: 100%; */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: -1;
}

.walletDigit {
  font-size: 20px;
  font-weight: bolder;
  color: white;
  margin: 0%;
  font-family: Arial, sans-serif;
}

.walletCategory {
  font-size: 16px;
  font-weight: bolder;
  color: white;
  font-family: Arial, sans-serif;
}

.walletDetail {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: white;
  color: black;
  border-radius: 50%;
  padding: 20px;
}

@media (max-width: 796px) {
  .walletDigit {
font-size: 16px;
  }
 
  .walletCredit, .walletDebit, .walletBalance {
    height: 100%;
  }
}