
.depositContainerBody{
  width: fit-content;
  height: fit-content;
  margin-right: 20px;
  background: white;
border-radius: 20px;
overflow-y: scroll;
position: relative;
}
.closeDepositModal{
  position: absolute;
  right: 10px;
  top: 0;
  font-weight: bolder;
  font-size: 20px;
  color: black;
  padding: 10px;
  cursor: pointer;
}
.iimg{
  width: 400px;
  height: 400px;
  background: #000;
  object-fit: cover;
}
.depositContainer{
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: fit-content;
}


.depositFormContainer{
 display: flex;
 flex: 1;
 flex-direction: column;
 justify-content: space-between;
 gap: 20px;
 padding: 20px;
 border-radius: 20px;
height: 100%;

}
.depositCard{
 display: flex;
 flex: 1;
 padding: 20px;
 flex-direction: column;
}
.transactionCard{
 display: flex;
 flex: 1;
 flex-direction: column;
 gap: 10px;
height: fit-content;
justify-content: space-between;

}
.TransactionSubCard{
 display: flex;
 flex: 1;
 border-radius: 20px;
 padding: 10px 20px;
 flex-direction: column;
 gap: 10px;
height: fit-content;

}

.deposit-Subb{
  display: flex;
  width: 100%;
  flex-direction: row;
  
}
.transactionLabels{
  font-size: 14px;
  font-weight: 400;
}
.depositFormInput{
  padding:   10px 10px;
  outline: none;
  border: none;
  border-radius: 0%;
  background-color: transparent;
  border-bottom: 2px solid #006633;
  color: black;
  font-size: 16px;
  flex: 1;
}


.depositSubmitButton{
  background: #006633;
  padding: 15px 50px;
  font-size: 15px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: white;
  border-radius: 5px;
  border: none;
  width: fit-content;
  cursor: pointer;
  width: 100%;
}
.balanceSubmitButton{
  background: #006633;
  padding: 10px 25px;
  font-size: 15px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: white;
  border-radius: 5px;
  border: none;
  width: fit-content;
  cursor: pointer;
  width: 80px;
  text-align: center;
}
.balanceSubmitButton:hover{
  color: white;
}
.depositInputContainer{
  display: flex;
  flex: 1;
}

@media screen and  (max-width: 1340px) {
  .depositContainerBody{
    margin-right: 20px;
    width: 90%;
  }
  .TransactionSubCard{
    box-shadow: none;
      }
.depositFormContainer{
  padding: 0px;
  border-radius: 20px;
 }
}
@media   (max-width: 800px) {
.depositContainerBody{
    width: 90%;
    height: fit-content;
    overflow: hidden;
  }
  .depositContainer{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .deposit-Subb{
    display: flex;
    width: 100%;
    flex-direction: column;
   margin: 0 auto;
   overflow: hidden;
  }
  .transactionFormInput{
    padding:   10px 0px;
   
  }
  
  .depositImgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .iimg{
    display: none;
  }
}