/* Footer Styles */
.footer {
  background-color: #006633;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

/* Footer Content Wrapper */
.footerBg {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 2rem;
  padding: 2rem;
  gap: 2rem;
  position: relative;
}

/* Footer Sections */
.footerLogo,
.footerResource,
.footerAbout,
.footerContact {
  /* flex: 1; */
  margin: 1rem;
  text-align: left;
}

/* Footer Headings */
.footerResource h2,
.footerAbout h2,
.footerContact h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #006633;
}

/* Footer List */
.footerResource ul,
.footerAbout ul,
.footerContact ul {
  list-style: none;
  padding: 0;
}

.footerResource li,
.footerAbout li,
.footerContact li {
  margin-bottom: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.footerResource li:hover,
.footerAbout li:hover,
.footerContact li:hover {
  color: #006633;
}

/* Ensure Footer is Always Visible */
.pc-footer {
  padding: 20px;
  color: #333;
  display: block;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}

.footerCopy {
  color: white;
}
.footerImg img {
  max-width: 15%;
}
/* Mobile Footer */
.mob-footer {
  display: none;
}

@media (max-width: 767px) {
  .footer {
    padding: 1rem;
  }
  .pc-footer {
    padding: 0;
  }
  .footerBg {
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 1rem;
    padding: 0.8rem;
    gap: 0;
  }
  /* Footer Sections */
  .footerLogo,
  .footerResource,
  .footerAbout,
  .footerContact {
    margin: 0rem;
    text-align: left;
  }

  /* Footer Headings */
  .footerResource h2,
  .footerAbout h2,
  .footerContact h2 {
    margin-bottom: 2px;
    color: #006633;
  }
  .mob-footer {
    display: flex;
  }
}
