.inspectionC{
  width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .inpectionContainer{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  width: 100%;
  border-radius: 10px;
  }
  .inpectionH{
    margin: 0;
    padding: 10px;
    border-bottom: 3px solid #006633;
    font-size: 20px;
  }
  
  .inpectionsubContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
  
  }
  
  
  .inspectorPropertySchedule{
    flex: 1;
    display: flex;
  flex-direction: row;
  padding: 0 20px;
  
  }
  .scheduleDetail{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    background: #0066331c;
    padding:  18px 10px;
    border-radius: 5px;
  }
  .inspectionPropertyAddressContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    width: 100%;
  
  }
  .place{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  .placeB{
    margin: 0;
    font-weight: bold;
    background: #0066331c;
    padding:  20px 10px;
    border-radius: 5px;
  }
  .placeC{
    margin: 0;
    
  }
  .inspectorPropertyDetails{
    flex: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
  gap: 0;
  }
  
  .inspectorPropertyImage{
    width: 100%;
    height: 150px;
    background: rgb(191, 190, 190);
    object-fit: cover;
  }
  .inspectorPropertyTitle{
    margin: 0;
    padding: 5px 20px;
    font-weight: bold;
  }
  .inspectorPropertyDetail{
    margin: 0;
    padding: 0px 20px;
    font-weight: bold;
    font-size: 14px;
  
  }
  .inspectorPropertySubDetail{
    margin: 0;
    font-size: 12px;
    font-weight: bold;
  
  }
  .vButtonContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .accept{
    background: green;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border: none;
  
  }
  .reject{
    background: red;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border: none;
  
  }
  .pending{
    background: orange;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border: none;
    
  }
  .pending:hover,.reject:hover,.accept:hover{
    cursor: pointer;
    opacity: 0.80;
  
  }
  
  
  @media (max-width: 796px) {
    .inpectionsubContainer{
      display: flex;
      flex-direction: column-reverse;
      gap: 10px;
      padding: 5px;
    
    }
    .inspectionPropertyAddressContainer{
    
      width: 90%;
    
    }
    
  }