.settings {
  justify-content: center;
  margin: 2rem auto;
}

.settings-info {
  text-align: center;
  line-height: 10px;
}

.settings-info h2 {
  font-size: 2rem;
}

.settings-container {
  display: flex;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 2px 4px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 3rem;
}

.settings-img {
  flex: 0 0 40%;
  display: block;
}

.settings-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  box-shadow: 8px rgba(0, 0, 0, 0.1);
}

.vendor-request-section {
  flex: 0 0 60%;
  padding-left: 20px;
  padding: 1.5rem;
}

.vendor-request-section h2 {
  text-align: center;
  color: #006633;
  margin-bottom: 20px;
}

.vendor-request-section h3 {
  color: #333;
  margin-top: 0;
  font-size: 1.4rem;
}

.success-message {
  /* text-align: center; */
  overflow: hidden;
  color: #006633;
  font-weight: bold;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 90%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #006633;
  background-color: #d8d7d7;
}

.form-group textarea {
  resize: vertical;
  height: 70px;
}

.submit-button {
  display: block;
  width: 50%;
  padding: 10px;
  background-color: #006633;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
}

.submit-button:hover {
  background-color: #004d26;
}

/* Media Queries */
@media (max-width: 768px) {
  .settings-container {
    flex-direction: column;
    margin: 1rem;
    box-shadow: 2px 4px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .settings-img img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    position: relative;
    border-radius: 10px 10px 0 0;
  }

  .vendor-request-section {
    padding-left: 0;
    width: 90%;
    margin: 0 auto;
  }
  .form-group input,
  .form-group textarea {
    width: 100%;
    border: none;
  }

  .submit-button {
    font-size: 1rem;
    padding: 12px;
    width: 80%;
  }
}
