.allVendorPropertyContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.recentH3 {
  padding: 0px 20px;
  color: #1A1A1A66;
  font-size: 18px;
}

.lastFiveProduct {
  display: flex;
  gap: 15px;
  width: fit-content;


}

.vendorProducts {
  box-shadow: none;
  display: flex;
  /* width: 96%; */
  padding: 0;
  justify-content: space-between;
  padding: 20px;
}

.lastFiveProduct:hover {
  cursor: pointer;
}

.properties-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;

}

.title {
  font-size: 2rem;
}

.eachProperty {
  width: 20%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;

}

.reg-content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 8px;
  overflow: hidden;
}

.propertyTitle {
  font-size: 15px;
  padding: 0 10px;
  /* width: 100%; */
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 100%;
  z-index: -1;
}

.propertyHeroImage {
  width: 100%;
  height: 200px;
  display: block;
  border-radius: 8px 8px 0 0;
}

.property-state {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #006633;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.property-state span {
  margin-left: 5px;
}



/* Skeleton Loader Styles */
.skeleton-container {
  display: flex;
  gap: 15px;
  padding: 20px;
}

.skeleton-property {
  flex: 1;
  max-width: 33%;
  /* background-color: #4CAF50; */
  color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.skeleton-image {
  width: 100%;
  height: 350px;
  background-color: #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
}

.skeleton-title,
.skeleton-text,
.skeleton-rooms {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.skeleton-title {
  width: 80%;
}

.skeleton-rooms {
  width: 50%;
}

.noProperty {
  padding: 0px 20px;
  font-size: 20px;
  font-weight: bolder;
}

@keyframes pulse {

  0%,
  100% {
    background-color: #f0f0f0;
  }

  50% {
    background-color: #e0e0e0;
  }
}

@media (max-width: 800px) {
  .eachProperty {
    width: 100%;

  }

  .vendorProducts {
    display: flex;
    flex-direction: column;

  }
}